@import 'bootstrap-sprockets';
@import 'bootstrap';

table th, table td {
  height: 30px;
  border: 1px solid black;
  padding: 10px;
  width: 100px;
}
.center {
  text-align: center;
}
.alert {
  position: fixed;
  top: 85;
  width: 500px;
  left: 0px;
}
.avatar-shop img {
  width: 150px;
  height: 100px;
}
.clr {
  clear: both;
}
a:hover {
  text-decoration: none;
}
#myModalShop .new_shop {
  padding: 10px 20px;
}

.main-content {
  background-color: white;
  min-height: 503px;
  border-radius: 10px
}

.btn-submit-form {
  text-align: center;
}

.suggestion-form {
  padding: 10px 20px;
}

/*suggestion*/
tr.display-suggestion{
  th.index{
    width: 50px;
    text-align: center;
  }
  th.image{
    width: 80px;
    text-align: center;
  }
  th.description{
    text-align: center;
  }
  th.status{
    text-align: center;
  }
  th.action{
    text-align: center;
  }
}
tr.suggestion{
  td.index{
    width: 50px;
    text-align: center;
  }
  td.image{
    width: 80px;
    text-align: center;
  }
  td.description{
  }
  td.action{
    text-align: center;
  }
  td.status{
    text-align: center;
  }
}
.paginate{
  text-align: center;
}
.text-center{
  text-align: center;
}

/*Category*/

.category-form {
  padding: 10px 20px;
}

.display-categories{
  th.index{
    width: 60px;
  }
  td.index{
    width: 60px;
  }
}
.image-table img{
  width: 150px;
  height: 70px;
}
.image-gallery{
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
}
.upload {
  position: relative;
  display: inline-block;
}

.upload label {
  color: #5F626A;
  cursor: pointer;
  width: 90px;
  height: 90px;
  position: relative;
  display: block;
  border: 3px dashed #5F626A;
  border-radius: 10px;
  overflow: hidden;
  transition: background ease .5s;
  pointer-events: none; /*This for FF*/
}

.input-file {
  opacity: 0; /*This*/
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.add-image {
  display: block;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
}
