<div id="page-wrapper">
  <div id="page-container" class="sidebar-partial sidebar-visible-lg
    sidebar-no-animations">
    <%= render "left_bar" %>
    <div id="main-container">
      <div id="page-content">
        <div class="content-header">
          <ul class="nav-horizontal text-center">
            <li class="active">
              <a href="page_ecom_dashboard.html"><i class="fa fa-bar-chart"></i> Dashboard</a>
            </li>
            <li>
              <a href="page_ecom_orders.html"><i class="gi gi-shop_window"></i> Orders</a>
            </li>
            <li>
              <a href="page_ecom_order_view.html"><i class="gi gi-shopping_cart"></i> Order View</a>
            </li>
            <li>
              <a href="page_ecom_products.html"><i class="gi gi-shopping_bag"></i> Products</a>
            </li>
            <li>
              <a href="page_ecom_product_edit.html"><i class="gi gi-pencil"></i> Product Edit</a>
            </li>
            <li>
              <a href="page_ecom_customer_view.html"><i class="gi gi-user"></i> Customer View</a>
            </li>
          </ul>
        </div>
        <div class="block full">
          <div class="block-title">
            <h2><strong>eShop</strong> Overview</h2>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="row push">
                <div class="col-xs-6">
                  <h3><strong class="animation-fadeInQuick">45.000</strong><br>
                    <small class="text-uppercase animation-fadeInQuickInv"><a href="javascript:void(0)">Total Orders</a></small>
                  </h3>
                </div>
                <div class="col-xs-6">
                  <h3><strong class="animation-fadeInQuick">$ 1.200,00</strong><br>
                    <small class="text-uppercase animation-fadeInQuickInv"><a href="javascript:void(0)">Cart Value</a></small>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-8">
              <div id="chart-overview" style="height: 350px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
